{% load staticfiles %}
{% load tags %}
<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="shortcut icon"  type="image/x-icon" href="{% static 'favicon.png' %}"/>
		<title>{% block title %}{% endblock %} | Ink Shades - ¡El Poder de la Tinta!</title>
		<!-- Fonts -->
		<link href='http://fonts.googleapis.com/css?family=Coustard:400,900' rel='stylesheet' type='text/css'>
		<link href='http://fonts.googleapis.com/css?family=Gudea:400,700,400italic' rel='stylesheet' type='text/css'>

		<!-- CSS -->
		<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">
		<link href="http://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href={% static "js/shadowbox-3.0.3/shadowbox.css" %} media="screen" />
		<link rel="stylesheet" type="text/css" href={% static "css/stylesheet.css" %} media="screen" />

		<!-- Javascript -->
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
		<script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
		<script src="{% static 'js/shadowbox-3.0.3/shadowbox.js' %}"></script>
		<script src="{% static 'js/script.js' %}"></script>
	</head>
	<body>
		<div class="container">
			<img src="{% static 'img/banner.jpg' %}" class="img-responsive"/>
			<h1 style="display: none;"> Ink Shades - ¡El Poder de la Tinta! </h1>
			<nav class="dropdown visible-xs">
		        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Menu de Navegación</a>
		        <ul class="dropdown-menu nav nav-pills nav-stacked">
		          <li {%block menu-index %}{% endblock %} ><a href="{% url 'root' %}">Portada</a></li>
				  <li {%block menu-obras %}{% endblock %} ><a href="{% url 'obras' %}">Obras</a></li>
				  <li {%block menu-autores %}{% endblock %} ><a href="{% url 'autores' %}">Autores</a></li>
				  <li {%block menu-productos %}{% endblock %} ><a href="{% url 'productos' %}">Nuestros Productos</a></li>
				  <li {%block menu-venta %}{% endblock %} ><a href="{% url 'venta' %}">Puntos de Venta</a></li>
				  <li {%block menu-contacto %}{% endblock %} ><a href="{% url 'contacto'%}">Contacto</a></li>
		        </ul>
		    </nav>
			<nav class="hidden-xs">
				<ul class="nav nav-pills">
				  <li {%block menu-index-movil %}{% endblock %} ><a href="{% url 'root' %}">Portada</a></li>
				  <li {%block menu-obras-movil %}{% endblock %} ><a href="{% url 'obras' %}">Obras</a></li>
				  <li {%block menu-autores-movil %}{% endblock %} ><a href="{% url 'autores' %}">Autores</a></li>
				  <li {%block menu-productos-movil %}{% endblock %} ><a href="{% url 'productos' %}">Nuestros Productos</a></li>
				  <li {%block menu-venta-movil %}{% endblock %} ><a href="{% url 'venta' %}">Puntos de Venta</a></li>
				  <li {%block menu-contacto-movil %}{% endblock %} ><a href="{% url 'contacto'%}">Contacto</a></li>
				</ul>
			</nav>
			<div class="row">
			 	{% block carousel %}
			 	{% endblock %}
			</div>
			<div class ="row">
				<div class="col-md-9 col-sm-12">
				{% block body %}
				{% endblock %}
				</div>
				<div class="col-md-3 col-sm-12">
					{% rightColumn %}
				</div>
			</div>
			<div class="copyright row">
				<i class="icon-copyright"></i> Ink Shades - Chile / 2013
			</div>
		</div>
	</body>
</html>